<h1>Ex 4.4 Demo- Questionnaire Directive</h1>

<h2>Questions</h2>
<!--{{answer.baseLocation}}-->
<my-question q="Where is the rebel base?">
  <input type="text" ng-model="answer.baseLocation" />
</my-question>
<my-question q="Are you my brother?">
  <input type="radio" ng-value="true" ng-model="answer.brother" />Yes
  <input type="radio" ng-value="false" ng-model="answer.brother" />No
</my-question>
<my-question q="Are these droids I'm looking for?">
  <button class="btn btn-lg btn-primary">No</button>
  <button class="btn btn-xs btn-default">Yes</button>
</my-question>
<a href="#/4">Back to the list</a>