<h1>Ex 4</h1>

<p>
  This is default template page for Chapter 4 of this series
</p>
<ol>
  <li><a href="/#4.1">Introduction</a></li>
  <li><a href="/#4.2">Basic Transclusion</a></li>
  <li><a href="/#4.3">Transclusion and Scopes</a></li>
  <li><a href="/#4.4">Demo- Questionnaire Directive</a></li>
  <li><a href="/#4.5">Reusing HTML With Transclusion - Problem</a></li>
  <li><a href="/#4.6">Reusing HTML With Transclusion - Solution</a></li>
  <li><a href="/#4.7">Summary</a></li>
</ol>