<h1>{{chapter.unit}}.{{chapter.number}} - {{chapter.name}}</h1>

<h2>Modal Sample</h2>
<a ng-click="openModal()">Click Here</a>

<modal open="modalOpen" options="{top:55, height:165}" on-close="modalClosed(response)">
  <div class="panel panel-primary" ng-controllerr="modalCtrl">
    <div class="panel-heading">Are you sure?</div>
    <div class="panel-body">
      <button class="btn btn-success" ng-click="close('yes')">Yes</button>
      <button class="btn btn-success" ng-click="close('no')">No</button>
    </div>
  </div>
</modal>