
@{
    ViewBag.Title = "Index";
}
<hr />
<div ng-controller="mainCtrl">
  <p>
    {{message}}
  </p>
  <user-info-card person="user1" collapsed="true"></user-info-card>
  <user-info-card person="user2"></user-info-card>
</div>